body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa; /* Color de fondo suave */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.home {
    background-image: url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_container {
    margin-top: 3rem;
}

.home_card {
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.home_cardBody {
    flex-direction: column;
}

.card-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem;
}

.btn {
    margin: 5px;
    background-color: #E4007C !important;
    color: white !important;
    border: 2px solid transparent !important;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    transition: 0.3s;
    background-color: white !important;
    color: #E4007C !important;
    border-color: #E4007C !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
    background-color: #c7006b;
}